h1 {
  font-size: 30px;
  text-align: left;
}

.article_container {
  text-align: center;
  display: flex;
  flex: auto;
  padding: 20Px;
  margin: 2Opx;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.places {
  text-align: center;
}

.places h2 {
  text-align: center;
  font-size: 30px;
}

.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: #ff5a5f 1px solid;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.name_price_container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-left: 35%;
  margin-top: 0px;
}

.price_by_night {
  color: #ff5a5f;
  border: 3px solid #ff5a5f;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 30px;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-bottom: 10px;
  margin-top: 15px;
  padding: 5px;
}

.information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  border-top: #dddddd 1px solid;
  border-bottom: #dddddd 1px solid;
}

.max_guests {
  background-image: url(../images/icon_group.png);
  background-repeat: no-repeat;
  background-position: top;
  width: 100px;
  height: 80px;
  justify-content: center;
}

.number_rooms {
  background-image: url(../images/icon_bed.png);
  background-repeat: no-repeat;
  background-position: top;
  width: 100px;
  height: 80px;
  justify-content: center;
}

.number_bathrooms {
  background-image: url(../images/icon_bath.png);
  background-repeat: no-repeat;
  background-position: top;
  width: 100px;
  height: 80px;
  justify-content: center;
}

.user {
  text-align: left;
  font-weight: bold;
  line-height: 40px;
}

.description {
  text-align: left;
}

.number_bathrooms p {
        padding-top: 40px;
}

.number_rooms p {
        padding-top: 40px;
}

.max_guests p {
        padding-top: 40px;
}

.user span{
        font-weight: 400;
}


